[sources]
plonesocial.suite = git https://github.com/cosent/plonesocial.suite.git
plonesocial.microblog = git https://github.com/cosent/plonesocial.microblog.git
collective.disqus = git https://github.com/avelino/collective.disqus.git
collective.facebook.portlets = git https://github.com/collective/collective.facebook.portlets.git
collective.portlet.adsense = svn https://svn.plone.org/svn/collective/collective.portlet.adsense/trunk/
collective.twitter.widget.portlets = fs collective.twitter.widget.portlets
example.conference = fs example.conference


[buildout]

test-packages =

debug-mode = off
deprecation-warnings = on
verbose-security = off


extends =
    buildout.cfg

extensions +=
    mr.developer

eggs +=
    Products.DocFinderTab
    plone.reload

parts +=
    test
    omelette

# mr.developer settings:
always-checkout = force
sources = sources
auto-checkout = *


[instance]
eggs =
    Zope2
    Pillow
    Plone
    plonesocial.suite
    plonesocial.microblog
    collective.disqus 
    collective.facebook.portlets
    collective.portlet.adsense
	example.conference

develop =
    collective.twitter.widget.portlets

zcml =


[omelette]
recipe = collective.recipe.omelette
eggs = ${buildout:eggs}


[test]
recipe = zc.recipe.testrunner
eggs =
	${}
defaults = ['--exit-with-status', '--auto-color', '--auto-progress']


eggs =
    ${buildout:eggs}
    ${buildout:test-packages}
